# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser
*.rsx

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/

# DotNet
*.swp
*.*~

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
$RECYCLE.BIN/

# Logs
logs
*.log

# NPM
node_modules/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Rider
.idea/

# Local History for JetBrains
.localhistory/
